<div class="single-blog">
  <div class="thumb">
    <img class="img-fluid" src="{{ imageUrl }}" alt="">
  </div>
  <div class="short_details">
    <div class="meta-top d-flex">
      <a href="#"> {{ categoryName }} </a>
    </div>
    <a class="d-block" href="{{redirectUrl}}" target="_blank">
      <h4>{{ titleText }}</h4>
    </a>
    <div class="meta-bottom d-flex">
      <a href="#">{{publishedDate}} . </a>
      <a class="dark_font" href="#">By {{ authorName }}</a>
    </div>
  </div>
</div>